<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    
                    <div class="header">
                            <h4 class="title">Team Information</h4>
                        </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover">
                            <tr>
                                <td><b>Team Name:</b></td>
                                <td><i>ZigZag Dash.</i> Because Zig Zag Dash gives character and it isn’t something you could really expect <br>something from so it’s different and original​</td>
                            </tr>
                            <tr>
                                <td><b>Team Mascot:</b></td>
                                <td><img src="../../../images/logos/mascot.png" height="150" ></td>
                            </tr>
                            <tr>
                                <td><b>Team Logo:</b></td>
                                <td><img src="../../../images/logo.jpg" height="150" ></td>
                            </tr>
                            <tr>
                                <td><b>Team Color:</b></td>
                                <td><i>Blue and Red</i></td>
                            </tr>
                            <tr>
                                <td><b>Our team cheer:</b></td>
                                <td><i>Dash zag zig, zig zag dash​</i></td>
                            </tr> 
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
