<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <h3>Project</h3>
                        <iframe src="https://onedrive.live.com/embed?cid=C94E98C148F5A933&amp;resid=C94E98C148F5A933%21420232&amp;authkey=AHnOjqt8zhrntG4&amp;em=2&amp;wdAr=1.7777777777777776" width="962px" height="565px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office Online</a>.</iframe>
                    </div>
                    
            </div>
        </div>
    </div>
</div>
</div>
