
 <link href="../../../assets/css/eccc.css" rel="stylesheet" />

<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <div class="alert alert-info">
                             <span><b>Meeting</b></span>
                        </div>
                        <table>
                            <tr>
                                <td>
                                    <div class="gallery">
                                        <a target="_blank" href="../../../images/meeting/img1.jpg">
                                        <img src="../../../images/meeting/img1.jpg" >
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="gallery">
                                        <a target="_blank" href="../../../images/meeting/img2.jpg">
                                        <img src="../../../images/meeting/img2.jpg" >
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="gallery">
                                        <a target="_blank" href="../../../images/meeting/img3.jpg">
                                            <img src="../../../images/meeting/img3.jpg" >
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="alert alert-info">
                            <span><b>Programming</b></span>
                        </div>
                        <table>
                                <tr>
                                    <td>
                                        <div class="gallery">
                                            <a target="_blank" href="../../../images/programming/img1.jpg">
                                            <img src="../../../images/programming/img1.jpg" >
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="gallery">
                                            <a target="_blank" href="../../../images/programming/img2.jpg">
                                            <img src="../../../images/programming/img2.jpg" >
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="gallery">
                                            <a target="_blank" href="../../../images/programming/img3.jpg">
                                                <img src="../../../images/programming/img3.jpg" >
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                        </table>
                        <div class="alert alert-info">
                            <span><b>Out reach</b></span>
                        </div>
                        <table>
                                    <tr>
                                        <td>
                                            <div class="gallery">
                                                <a target="_blank" href="../../../images/outreach/img1.jpg">
                                                <img src="../../../images/outreach/img1.jpg" >
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="gallery">
                                                <a target="_blank" href="../../../images/outreach/img2.jpg">
                                                <img src="../../../images/outreach/img2.jpg" >
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="gallery">
                                                <a target="_blank" href="../../../images/outreach/img3.jpg">
                                                    <img src="../../../images/outreach/img3.jpg" >
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="gallery">
                                                <a target="_blank" href="../../../images/outreach/img4.jpg">
                                                <img src="../../../images/outreach/img4.jpg" >
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="gallery">
                                                <a target="_blank" href="../../../images/outreach/img5.jpg">
                                                    <img src="../../../images/outreach/img5.jpg" >
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="gallery">
                                                <a target="_blank" href="../../../images/outreach/img5.jpg">
                                                    <img src="../../../images/outreach/img5.jpg" >
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                        </table>
                        <div class="alert alert-info">
                                <span><b>Field Trips</b></span>
                        </div>
                        <table>
                                <tr>
                                    <td>
                                        <div class="gallery">
                                            <a target="_blank" href="../../../images/field trip/img1.jpg">
                                            <img src="../../../images/field trip/img1.jpg" >
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="gallery">
                                            <a target="_blank" href="../../../images/field trip/img2.jpg">
                                            <img src="../../../images/field trip/img2.jpg" >
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="gallery">
                                            <a target="_blank" href="../../../images/field trip/img3.jpg">
                                                <img src="../../../images/field trip/img3.jpg" >
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="gallery">
                                            <a target="_blank" href="../../../images/field trip/img4.jpg">
                                            <img src="../../../images/field trip/img4.jpg" >
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="gallery">
                                            <a target="_blank" href="../../../images/field trip/img5.jpg">
                                                <img src="../../../images/field trip/img5.jpg" >
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                        </table>
                        </div>
                </div>
            </div>
    </div>
</div>
</div>
