<nav class="navbar navbar-default">
        <div class="container-fluid">
                <div class="navbar-header">
                        <table>
                                <tr>
                                        <td>
                                                <a href="http://catsop.azurewebsites.net/">
                                                        <img src="images/logo.jpg" alt="Home Page" style="height:60px;width:60px;border:0;">
                                                </a>
                                        </td>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                        <td>
                                                <b>C</b>ities <b>A</b>re <b>T</b>he <b>S</b>ource <b>O</b>f <b>P</b>eople
                                        </td>
                                </tr>
                        </table>
                </div>
        </div>
</nav>
    