<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <div class="alert alert-info">
                            <span><b>FLL Core Value</b></span>
                       </div>
                        <ul>
                            <li><p>We are a team </p></li>
                            <li><p>We have fun</p></li>
                            <li><p>We do the work to find the solutions with guidance from our coaches and mentors. </p></li>
                            <li><p>We honor the spirit of friendly competition</p></li>
                            <li><p>What we discover is more important than what we win</p></li>
                            <li><p>We share experience with others</p></li>
                            <li><p>We display gracious professionalism in all we do</p></li>
                        </ul>
                        <div class="alert alert-info">
                            <span><b>ZigZag Dash Core Value</b></span>
                       </div>
                        <iframe src="https://onedrive.live.com/embed?cid=C94E98C148F5A933&amp;resid=C94E98C148F5A933%21420234&amp;authkey=AKjPfcTNcbEYqsQ&amp;em=2&amp;wdAr=1.7777777777777776" width="962px" height="565px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office Online</a>.</iframe>
                    </div>
                    
            </div>
        </div>
    </div>
</div>
</div>
