<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <div class="alert alert-info">
                            <span><b>FLL Core Value</b></span>
                       </div>
                        <ul>
                            <li><p>We are a team </p></li>
                            <li><p>We have fun</p></li>
                            <li><p>We do the work to find the solutions with guidance from our coaches and mentors. </p></li>
                            <li><p>We honor the spirit of friendly competition</p></li>
                            <li><p>What we discover is more important than what we win</p></li>
                            <li><p>We share experience with others</p></li>
                            <li><p>We display gracious professionalism in all we do</p></li>
                        </ul>
                    </div>
                    
            </div>
        </div>
    </div>
</div>
</div>
