<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <div class="alert alert-info">
                            <span><b>FLL Core Value</b></span>
                       </div>
                        <p>We are a team </p>
                        <p>We have fun</p>   
                        <p>We do the work to find the solutions with guidance from our coaches and mentors. </p>
                        <p>We honor the spirit of friendly competition</p>
                        <p>What we discover is more important than what we win</p>
                        <p>We share experience with others</p>
                        <p>We display gracious professionalism in all we do</p>
                    </div>
                    
            </div>
        </div>
    </div>
</div>
</div>
