<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <h3>About</h3>
                        <p>For any questions and comments, or if you are interested in a class or demonstration, please contact us by email. </p>
                         <p><i><b>Email: zigzagdash@outlook.com</b></i></p>   
                            <p>We will reply as soon as possible (within a week). </p>
                    </div>
                    
            </div>
        </div>
    </div>
</div>
</div>
